---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: rustfs-cert
  namespace: rustfs
spec:
  secretName: rustfs-tls
  dnsNames:
  - rustfs.k88936.top
  - '*.rustfs.k88936.top'
  issuerRef:
    kind: ClusterIssuer
    name: letsencrypt
---
apiVersion: traefik.io/v1alpha1
kind: ServersTransport
metadata:
  name: rustfs-timeouts
  namespace: rustfs
spec:
  forwardingTimeouts:
    dialTimeout: 300s
    responseHeaderTimeout: 300s
    idleConnTimeout: 300s
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: rustfs-buffering
  namespace: rustfs
spec:
  buffering:
    maxRequestBodyBytes: 0
    maxResponseBodyBytes: 0
    memRequestBodyBytes: 2097152
    memResponseBodyBytes: 2097152
    retryExpression: IsNetworkError()
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: rustfs-headers
  namespace: rustfs
spec:
  headers:
    customRequestHeaders:
      X-Forwarded-Proto: https
    sslRedirect: true
    accessControlAllowOriginList:
    - "*"
    accessControlAllowMethods:
    - GET
    - PUT
    - POST
    - DELETE
    - HEAD
    - OPTIONS
    accessControlAllowHeaders:
    - "*"
    accessControlAllowCredentials: true
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: rustfs-api
  namespace: rustfs
spec:
  entryPoints:
  - websecure
  routes:
  - kind: Rule
    match: Host(`rustfs.k88936.top`)
    middlewares:
    - name: rustfs-buffering
    - name: rustfs-headers
    services:
    - name: rustfs
      namespace: rustfs
      port: 9000
      passHostHeader: true
      scheme: http
      serversTransport: rustfs-timeouts
  - kind: Rule
    match: HostRegexp(`{bucket:[a-z0-9][a-z0-9.-]+}.rustfs.k88936.top`)
    middlewares:
    - name: rustfs-buffering
    - name: rustfs-headers
    services:
    - name: rustfs
      namespace: rustfs
      port: 9000
      passHostHeader: true
      scheme: http
      serversTransport: rustfs-timeouts
  tls:
    secretName: rustfs-tls