---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: nextcloud-k88936-top
  namespace: nextcloud
spec:
  secretName: nextcloud-tls
  dnsNames:
    - nextcloud.k88936.top
  issuerRef:
    name: letsencrypt
    kind: ClusterIssuer
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nextcloud
  namespace: nextcloud
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
spec:
  ingressClassName: traefik
  tls:
    - secretName: nextcloud-tls
      hosts:
        - nextcloud.k88936.top
  rules:
    - host: nextcloud.k88936.top
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nextcloud
                port:
                  name: service-port
                